.header .link{
    text-decoration: none;
    color: rgb(8, 0, 0);
    font-weight: bold;
}
.header{
        max-width: 2320px;
        height: 50px;
        width: 100%;
        position: fixed;
        background-color : #b2b4b3;;
        color : #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding : 0 30px;
        z-index: 1000;
        
    
}
.header .link:hover{
    text-decoration: underline;
    color: red;
  }